<h1>Search Students</h1>
<%= form_tag(students_path, method: "get") do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search" %>
<% end %>

<br><br>

<%= @students.each do |student| %>
  <%= render partial: "student", locals: {student: student} %>
<% end %>
